- content_for :head do
	= include_javascripts :image_picker, :edit_custom_fields
	= include_stylesheets :editable_elements, :fancybox
	
- if can?(:manage, resource)
	= f.foldable_inputs :name => t('.information'), :class=>"liquid_mailers off" do
		= f.input :subject
		= f.custom_input :template, :css => 'code full', :with_label => false do
			= f.label :template
			%code{ :class => 'html' }
				= f.text_area :template
			= f.errors_on :template